.header {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    padding: 0px 49px 0 45px;

    .logo {
        text-align: left;
        width: 93.5%;
        margin-top: 6px;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
    }

    .loginButton {
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        width: 3%;
        margin-top: 0px;
        position: relative;

        a {
            padding: 10px 15px;
            color: white;
            background: #3ea9f5;
            border: 1px solid rgba(255,255,255,0.77);
            border-radius: 4px;
            font-size: 18px;
            font-weight: 600;
            margin-right: 0px;
            line-height: 22px;
            text-decoration: none;
            margin-top: 0px;
            position: absolute;
            right: 0px;
        }
    }
}

